.site-header {
  @include media-breakpoint-up(lg) {
    transition: ease-in-out 0.3s;
    position: absolute;
    width: 100%;

    &--sticky-top {
      position: fixed;
      background: $white;
      width: 100%;
      z-index: 1;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

      .site-header__logo {
        margin-right: 0;

        svg {
          height: 60px;
        }
      }

      .site-header__logo-text {
        font-size: 32px;
      }

      .site-header__navbar-list {
        gap: 20px;
      }

      .btn {
        font-size: 20px;
        line-height: 20px;
        padding: 7px 20px;
      }
    }
  }

  &__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0;
    transition: ease-in-out 0.3s;

    svg {
      transition: ease-in-out 0.3s;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 24px;
    }
  }

  &__logo-text {
    transition: ease-in-out 0.3s;

    @include media-breakpoint-down(xl) {
      display: none;
    }

    @include media-breakpoint-up(xl) {
      font-weight: $bold;
      font-size: 52px;
      line-height: 75px;
      color: $black;
      text-transform: uppercase;
    }
  }

  &__position-wrapper {
    display: flex;
    align-items: center;
  }

  &__navbar {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    @include media-breakpoint-down(xl) {
      margin-right: 35px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: 57px;
    }

    &.active {
      @include media-breakpoint-down(lg) {
        position: absolute;
        top: 102px;
        width: 100%;
        margin-right: 0;
        height: 100vh;
        background: linear-gradient(
          104.53deg,
          #edebf9 2.98%,
          rgba(255, 255, 255, 0.4) 101.73%
        );
        backdrop-filter: blur(8px);
        left: 0;
        display: block;
        z-index: 1;
      }
    }
  }

  &__navbar-list {
    display: flex;
    transition: ease-in-out 0.3s;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      padding: 32px 16px;
    }

    @include media-breakpoint-up(lg) {
      gap: 31px;
    }

    .menu-item:not(.sub-menu .menu-item) {
      position: relative;
      display: flex;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        padding: 8px 0;
      }

      @include media-breakpoint-up(lg) {
        align-items: center;
      }

      &:not(:last-child) {
        @include media-breakpoint-down(lg) {
          border-bottom: 1px solid rgba(99, 113, 244, 0.4);
        }

        a {
          @include media-breakpoint-up(lg) {
            margin-right: 18px;
          }
        }
      }

      &.menu-item-has-children:after {
        content: "";
        background: url("../../dist/img/down.svg") no-repeat;
        width: 10px;
        height: 7px;
        display: flex;
        cursor: pointer;
        background-size: contain;
        transition: ease-in-out 0.3s;

        @include media-breakpoint-down(lg) {
          position: absolute;
          right: 0;
          top: 27.5px;
        }
      }

      @include media-breakpoint-up(lg) {
        &:before {
          position: absolute;
          content: "";
          width: 0;
          height: 3px;
          bottom: -24px;
          left: 50%;
          background: $purple2;
          transition: 0.5s;
        }

        &.current_page_item,
        &:hover {
          &:before {
            width: 100%;
            left: 0;
          }
        }
      }

      @include media-breakpoint-down(lg) {
        &.current_page_item {
          a[aria-current="page"] {
            color: $purple2;
            font-weight: $bold;
          }
        }

        &.current_page_parent {
          & > a {
            color: $purple2;
          }
        }
      }

      &.active {
        &:after {
          transform: rotate(180deg);
        }

        .sub-menu {
          display: flex;

          @include media-breakpoint-down(lg) {
            padding-left: 24px;
            margin-top: 8px;

            .menu-item {
              a {
                font-weight: 700;
                font-size: 18px;
                line-height: 26px;
              }

              &.current_page_item {
                a[aria-current="page"] {
                  color: $purple2;
                }
              }
            }
          }
        }
      }

      a {
        color: $header-color;

        @include media-breakpoint-down(lg) {
          width: fit-content;
          font-weight: $bold;
          font-size: 24px;
          line-height: 35px;
        }

        @include media-breakpoint-up(lg) {
          font-weight: $default;
          font-size: 32px;
          line-height: 46px;
        }
      }
    }

    .sub-menu {
      width: max-content;
      display: none;
      flex-direction: column;

      @include media-breakpoint-up(lg) {
        position: absolute;
        top: 75px;
      }
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 17px;
  }

  &__mob-menu-icon {
    @include media-breakpoint-down(lg) {
      padding: 10px;
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }

    &:after {
      content: "";
      background: url("../../dist/img/mob-menu-icon.svg") no-repeat;
      width: 25px;
      height: 14px;
      display: flex;
      cursor: pointer;
      background-size: contain;
      transition: ease-in-out 0.3s;
    }
  }
}
